<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
     http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
     http://www.springframework.org/schema/tx
     http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
      http://www.springframework.org/schema/jdbc
      http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
     http://www.springframework.org/schema/aop
     http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<bean id="dataProducer" class="com.when_how.datatransfer.kafka.DataProducerImpl"
		destroy-method="close">
		<constructor-arg name="metadataBrokerList"
			value="10.128.8.59:9092,10.128.8.61:9092,10.128.8.62:9092" />
		<constructor-arg name="serializerClass"
			value="com.when_how.datatransfer.kafka.GzipEncoder" />
		<constructor-arg name="keySerializerClass" value="kafka.serializer.StringEncoder" />
		<constructor-arg name="partitionerClass"
			value="com.when_how.datatransfer.kafka.HashPartitioner" />
		<constructor-arg name="requestRequiredAcks" value="1" />
	</bean>

</beans>